<div id="chatroom_container" class="row">
  <div class="col-12 col-md-3 mt-5">
    <div class="m-2">
      <div class="card card-boxes mb-3" style="max-width: 18rem;">
        <div class="card-header card-boxes">
          <h2 class="m-2">
            <%= current_user.email %>
          </h2>
        </div>
        <div class="card-body card-boxes">
          <%= turbo_stream_from "users"%>
          <div id ="users">
            <%= render @users %>
          </div>
        </div>
      </div>  
    </div>
    <div class="m-2">
      <div class="card card-boxes mb-3" style="width: 18rem;">
        <div class="card-header card-boxes">
          <h2 class="m-2">
            Groups
          </h2>
        </div>
        <div class="card-body card-boxes">
          <%= turbo_stream_from "groups"%>
          <div id="groups">
            <%= link_to 'new', new_group_path %>
            <% if @groups.present? %>
              <nav class="nav flex-column">
              <% @groups.each do |group| %>
                <%= link_to group.name, group_path(group), class: 'nav-link room-nav-link' %>
              <% end %>
              </nav>
            <% else %>
              <div class="text-muted">
                The are no groups
              </div>
            <% end %>
          </div>
        </div>
      </div>  
    </div>  
  </div>
  <div class="col mt-4">
    <h4 class="alert-heading">
      <% if @single_group %>
        <div id="single_group">
          <h4 class="text-center">
            <%= @user&.email || @single_group.name %>
          </h4>
          <%= turbo_stream_from @single_group%>
          <div id="messages" data-controller="scroll">
            <%= render @messages %>
          </div>
        </div>
        <div class="row">
          <div class="col mt-4">
            <div class="fixed-bottom">
              <%= render 'layouts/new_message_form'%><br />
            </div>
          </div>
        </div>

      <% end %>
    </h4>
  </div>
</div>